<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Search form -->
    <form action="/" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Rechercher" name = "recherche">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search" style = "color:#3FC1C9;"></i>
      </button>
    </form>

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>
      <% if @notifications.exists? %>
        <div id="notifications-container">
          <%= render "shared/notifications", notifications: @notifications %>
        </div>
        <% else %>
        <div class="notif">
          <div class="badge-container">
            <i class="fa fa-bell-o"></i>
            <div class="badge badge-blue"><%= @notifications.count %></div>
          </div>
        </div>
      <% end %>
    <% end %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "https://pbs.twimg.com/profile_images/543163817497096192/quCE6m_M.jpeg", class: "avatar-large dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to destroy_user_session_path, :method => :delete  do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
          <%= link_to destroy_user_session_path, :method => :delete  do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
