<body>
<div class="banner" style="background-image: linear-gradient(-180deg, #071A2E 0%, rgba(24,79,136,0.27) 100%), url(<%= image_url 'banner.jpg' %>);">
  <div class="banner-content text-center">
    <h1>Caddy Connect</h1>
    <h3>Gérer facilemnt vos livraisons</h3>
    <%= link_to t(".top_call_to_action", default: "Inscription"), "#", class: "btn btn-primary" %>
  </div>
</div>
<div class="wrapper-dark-home">
  <div class="container">
    <div class="row">
    <div class="small-padded text-center">
    <h3><b>Features !</b></h3>
    </div>
    </div>
  </div>
</div>
<div class="wrapper-yellow">
  <div class="container text-center padded features">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="<%= asset_path('truck.png') %>" alt="">
        <h2>Centralisez vos commandes</h2>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="<%= asset_path('driver.png') %>" alt="">
        <h2>Plus de numero de livraison</h2>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="<%= asset_path('pay.png') %>" alt="">
        <h2>Recap de vos dépenses</h2>
      </div>
    </div>
  </div>
</div>
<div class="footer-4cln">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3 col-xs-6">
            <h6>L'entreprise</h6>
            <ul class="list-unstyled">
              <li><a href="#">A propos</a></li>
              <li><a href="#">L'équipe</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-xs-6">
            <h6>Infos</h6>
            <ul class="list-unstyled">
              <li><a href="#">Paiement</a></li>
              <li><a href="#">Légales</a></li>
              <li><a href="#">Avantages</a></li>
              <li><a href="#">Support</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-xs-6">
            <h6>Aides</h6>
            <ul class="list-unstyled">
              <li><a href="#">Réduction</a></li>
              <li><a href="#">Pourquoi?</a></li>
              <li><a href="#">Press</a></li>
              <li><a href="#">Articles</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-xs-6">
            <h6>Blague</h6>
            <ul class="list-unstyled">
              <li><a href="#">Personne</a></li>
              <li><a href="#">ne lira</a></li>
              <li><a href="#">mes</a></li>
              <li><a href="#">lignes</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h6>Une question?</h6>
        <form role="form">
          <div class="input-group">
            <input type="email" class="form-control footernews" placeholder="Votre question">
            <span class="input-group-btn">
                <button class="btn btn-info" type="button">Envoyer</button>
            </span>
          </div>
          <span class="help-block">Réponse très rapide !</span>
        </form>
      </div>
    </div>
    <hr>
    <div class="footer-4cln-bar">
      <span class="phone"><i class="fa fa-phone"></i>01 39 51 69 87</span>
      <span class="email"><i class="fa fa-envelope"></i> <a href="Pedro@camionr.com">pedro@camionr.com</a></span>
      <div class="footer-social">
          <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
          <a class="social-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
          <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
          <a class="social-google" href="#"><i class="fa fa-google-plus"></i></a>
      </div>
      <span class="address">Copyright &copy; Team Pedro<br/> 16 Villa Gaudelet 75011 Paris</span>
    </div>
  </div>
</div>
</body>


