<div class="banner">
  <div class="logo-home">
    <%= image_tag "logo.png" %>
  </div>
  <div class="divider"></div>
  <div class="banner-connect">
    <%= link_to "Connexion", new_user_session_path %>
  </div>
    <div class="banner-content">
      <h1>Garder un <b>Oeil</b> sur
      <br>
      vos <b>Commandes en ligne</b>!</h1>
       <%= link_to "Connexion",user_google_oauth2_omniauth_authorize_path, class: "brand-button" %>
       <div class="banner-illustration">
        <%= image_tag "cc_banner.png" %>
       </div>
    </div>
</div>
<div class="banner-features text-center">
  <div class="container">
    <div class="row">
      <div class="col-x-12 col-md-4">
        <%= image_tag "connexion.png" %>
          <div class="feature-tagline">    
            <div class="feature-tagline">    
          <h3><b>Connectez-vous</b></h3>
          <br>
          <p>avec le compte email avec lequel
          <br> 
          vous passez vos commandes
          </p>
        </div>
          </div>
      </div>
      <div class="col-x-12 col-md-4">
        <%= image_tag "import.png" %>
        <div class="feature-tagline">    
          <div class="feature-tagline">    
          <h3><b>Caddy-Connect</b></h3>
          <br>
          <p>importe automatiquement
          <br> 
          vos commandes
          </p>
        </div>
        </div>
      </div>
      <div class="col-x-12 col-md-4">
        <%= image_tag "gestion.png" %>
        <div class="feature-tagline">    
          <h3><b>Gérez</b></h3>
          <br>
          <p>vos commandes et vos dépenses
          <br> 
          en toute simplicité ! 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  
</div>
