<div class="wrapper">
  <aside class="sidebar">
  <div class="user_sidebar" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <%= image_tag "https://pbs.twimg.com/profile_images/543163817497096192/quCE6m_M.jpeg", class: "avatar-big cursor" %>
          <ul>
          <li class="side_user_name">
            <p>Manou Febvret</p>
          </li>
          </ul>
        </div>
        <div class="collapse" id="collapseExample">
          <div class="well">
          <ul><li>
            <%= link_to destroy_user_session_path, :method => :delete  do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %>
            </li></ul>
          </div>
        </div>
    <ul class="sidebar-list">
      <li class="sidebar-item sb-active"><i class="fa fa-home"></i></li>
      <li class="sidebar-item"><i class="fa fa-bar-chart"></i></li>
      <li class="sidebar-item"><i class="fa fa-bolt"></i></li>
      <li class="sidebar-item"><i class="fa fa-user"></i></li>
    </ul>
  </aside>


<% @products.each do |product| %>
  <div class="col-md-3 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <span class="price-icon"></span>
                        <span class="price-value"><%= product.price %>€</span>
                        <h3 class="heading"><%= product.name %></h3>
                    </div>
                    <div class="pricingContent">
                        <ul>
                            <li><i class="fa fa-truck"></i><%= product.brand %></li>
                            <li><i class="fa fa-info-circle"></i><%= product.description %></li>
                            <li><i class="fa fa-shopping-basket"></i><%= product.ecommerce %>
                            </li>
                            <li><i class="fa fa-tasks"></i>En Transit
                            </li>
                        </ul>
                    </div><!-- /  CONTENT BOX-->
                    <div class="pricingTable-signup">
                    <% if product.tracking_number.empty? %>
                    <button type="button", class="btn btn-success" data-toggle="modal" data-target="#product-modal-<%= product.id %>">
                      Suivre mon colis
                    </button>
                    <% else %>
                    <%= product.delivery_steps%>
                    <% end %>
                      <!-- Modal -->
                  <div class="modal fade" id="product-modal-<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Suivre mon colis</h4>
                          </div>
                          <div class="modal-body">
                           <p>Entrez votre numéro de suivis</p>
                          </div>
                          <%= simple_form_for(product) do |f| %>
                            <div class="form-inputs">
                              <%= f.input :tracking_number, placeholder: '6287VB3'%>
                              <%= f.button :submit, 'Ajouter', class: 'btn btn-success' %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <% end %>
        </div>


