<div class="wrapper-dashboard">
  <div class="container-fluid">
    <div class="row">
      <% if @products.blank? %>
        <div class="aucun_resultat text-center">
          <h4>Aucun produit ne correspond à votre recherche...</h4>
        </div>
      <% else %>
        <div class="filter">
          <ul class="list-inline">
            <li>
              <%= link_to "Tout", root_path, id: "all", remote: true %>
            </li>
            <li>
              <%= link_to "Livrés", root_path(delivery_steps: "Delivered"), id: "delivered", remote: true %>
            </li>
            <li>
              <%= link_to "En cours", root_path(delivery_steps: "en cours"), id: "transit", remote: true %>
            </li>
          </ul>
        </div>
        <div id="products-container">
          <%= render "products", products: @products %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="fb-send-to-messenger"
  messenger_app_id="<%= ENV['FACEBOOK_APP_ID'] %>"
  page_id="<%= ENV['FB_PAGE_ID'] %>"
  data-ref="<%= current_user.id %>"
  color="blue"
  size="standard" ></div>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : <%= ENV["FACEBOOK_APP_ID"] %>,
      xfbml      : true,
      version    : 'v2.7'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
