<div class="wrapper-dashboard">
  <div class="header-title text-center">
    <h2>Statistiques</h2>
  </div>
  <h1 class="heading-1">Vue Globale</h1>
  <div class="divider-1"> <span></span></div>
  <div class="tri">
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Période <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><%= link_to 'Tout', stats_path, class: "c-date" %></li>
      <li><%= link_to 'Cette semaine', stats_path(interval: 'week'), class: "c-date" %></li>
      <li><%= link_to 'Ce mois-ci', stats_path(interval: 'month'), class: "c-date" %></li>
      <li><%= link_to 'Cette année', stats_path(interval: 'year'), class: "c-date" %></li>
    </ul>
  </div>
  </div>
  <div class="container-fluid">
    <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="stats-card">
        <div class="stats-card-label">
          Total dépensé
        </div>
        <div class="total-price text-center">
          <%= @total_amount %>€
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="stats-card">
        <div class="stats-card-label">
          Nombres d'articles
        </div>
        <div class="total-number text-center">
          <%= @products.size %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="stats-card">
        <div class="stats-card-label">
            Panier Moyen
        </div>
        <div class="total-pannier text-center">
          <%= @average_cart_amount %>€
        </div>
      </div>
    </div>
      <h1 class="heading-2">Catégories</h1>
      <div class="divider-1"> <span></span></div>
      <div class="tri">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Période <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to 'Tout', stats_path %></li>
          <li><%= link_to 'Cette semaine', stats_path(interval: 'week')%></li>
          <li><%= link_to 'Ce mois-ci', stats_path(interval: 'month')%></li>
          <li><%= link_to 'Cette année', stats_path(interval: 'year')%></li>
        </ul>
      </div>
      </div>


      <% if @products_by_category_hash.present? %>
        <% @products_by_category_hash.each do |category, products|  %>
        <div class="col-xs-12 col-sm-4">
          <div class="stats-card">
            <div class="stats-card-label">
              <%= category %>
            </div>
            <div class="total-cat text-center">
              <%= products.map(&:price).reduce(:+) %>€
            </div>

            <div class="product-numbers">
              <div class="product-number text-center">
              <p>Nombre d'articles</p>
                <%= products.size %>
              </div>
              <div class="stats-divider"></div>
              <div class="pannier-moyen text-center">
                <p>Pannier Moyen</p>
                <%= products.map(&:price).map(&:to_i).reduce(:+).fdiv(products.size) %>€
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% else %>
        <div class="aucun_resultat text-center">
          <h5>Vous n'avez pas acheté de produit pendant cette période</h5>
        </div>
      <% end %>
    </div>
  </div>
</div>